:root{
    --light-blue: #CBD4FF;
    --clay-blue: #8C9BE5;
    --dark-blue: #13131C;
    --lesser-dark-blue: #353558;
    --bright-orange: #ff8484;
}

#title{
    color: var(--lesser-dark-blue);
    font-weight: 500;
    margin-left: 70px;
}

#about-container-1{
    visibility: visible;
    width: 900px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#about-container-1 p{
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
}

#about-container-1 h3{
    color: var(--clay-blue);
    font-size: 20px;
    font-weight: 400;
}

#center-1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

@media screen and (max-width:800px){
    h1{
        padding-bottom: 10px;
    }

    p{
        padding-bottom: 5px;
    }
}