:root{
    --light-blue: #CBD4FF;
    --clay-blue: #8C9BE5;
    --dark-blue: #13131C;
    --lesser-dark-blue: #212129;
    --bright-orange: #ff8484;
}

#title{
    color: var(--lesser-dark-blue);
    font-weight: 500;
    margin-left: 70px;
}

#hover-letter{
    font-weight: 400;
    color: var(--clay-blue);
    font-size: 80px;
    margin-left: 90px;
    margin-bottom: -10px;
}

#letter-buttons{
    display: flex;
    text-align: center;
}

#letter-buttons p{
    margin: 0.3vw;
    padding: 8px;
    background-color: var(--lesser-dark-blue);
    border-radius: 3px;
    cursor: pointer;

    direction: reverse;
    transition: 0.1s;
}

#letter-buttons p:hover{
    color: var(--bright-orange);
    transform: scale(1.1);
    transition: 0.1s;
}

#browse-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    height: 60vh;
}

#results p{
    margin-left: 90px;
    font-size: 30px;
}

#results #word-list-title{
    color: var(--clay-blue);
    font-size: 20px;
}

@media screen and (max-width:900px){
    #letter-buttons{
        display: grid;
        grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
        grid-template-rows: 50px 50px 50px 50px;
    }

    #letter-buttons p{
        margin: 5px;
    }
}