:root{
    --light-blue: #CBD4FF;
    --clay-blue: #8C9BE5;
    --dark-blue: #13131C;
    --lesser-dark-blue: #212129;
    --bright-orange: #ff8484;
}

footer #links-container{
    display: flex;
    justify-content: space-evenly;
}

#links-container #links{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

#links a{
    text-decoration: none;
    color: #cbd4ff2c;

    direction: reverse;
    transition: 0.2s;
}

#links a:hover{
    color: #cbd4ff79;
    transition: 0.3s;
}

footer p{
    text-align: center;
    color: #cbd4ff2c;
    margin-bottom: 30px;
}