:root{
    --light-blue: #CBD4FF;
    --clay-blue: #8C9BE5;
    --dark-blue: #13131C;
    --lesser-dark-blue: #212129;
    --blue-dark-blue:#212129;
    --bright-orange: #ff8484;
}

/* centering results */
#result-container{
    display: flex;
    justify-content: center;
}

/* result background */
.showResults{
    background-color: var(--lesser-dark-blue);
    border-radius: 18px;
    width: 600px;
    padding: 30px;
    margin: 17px 0;
    text-align: left;
}

/* word title */
.showResults h2{
    margin: 0;
    margin-bottom: -5px;
    color: var(--clay-blue);
    font-weight: 800;
}

.showResults #pos{
    margin-left: 1px;
}

/* definition label */
.showResults h4{ 
    color: var(--clay-blue);
    margin-bottom: 3px;
    font-weight: 400;
}

/* definition text */
.showResults p{
    margin: 0;
    color: var(--light-blue);
}
 /* part of speech */
.showResults #pos{
    margin-bottom: 25px;
}

#words-container{
    display: flex;
    justify-content: center;
}

.words-list{
    position: absolute;
    width: 33vw;
    height: auto;
    max-height: 160px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(50, 50, 63);
    animation: 0.25s ease-out slideInFromTop2;
    overflow: hidden;
    overflow-y: auto;
}

.words-list::-webkit-scrollbar{
    display: none;
}

#data-item{
    cursor: pointer;
    padding: 6px 10px;
    text-align: left;
    border-radius: 5px;

    direction: reverse;
    /* transition: 0.1s; */
    color: var(--light-blue);
}

#data-item:first-child{
    background-color: rgb(62, 62, 78);
}

#data-item:hover{
    /* transition: 0.1s; */
    background-color: #4a4a5c;
}

#body{
    text-align: center;
    margin-top: 13vh;
}

#body h1{
    margin-bottom: 10px;
    color: var(--clay-blue);
    font-weight: 400;
}

#body #search-bar{
    width: 33vw;
    padding: 10px 20px;
    font-size: 18px;
    font-family: roboto mono;
    color: var(--light-blue);
    background-color: #ffffff0e;
    border: 0;
    border-radius: 30px;
}

#search-bar:focus {
    outline: none;
}

#body2 #divider{
    font-size: 2.5vh;
    margin-top: 7vh;
    text-align: center;
    color: #cbd4ff23;
}

#pages{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: -100px;
}

#pages a{
    display: table;
    margin: 0.2vh auto 0px auto;
    padding: 5px;
    font-size:20px;
    text-decoration: none;
    color: var(--light-blue);
    font-size: 20px;
    cursor: pointer;

    direction: reverse;
    transition: 0.2s;
}

#pages a:hover{
    color: var(--bright-orange);
    transition: 0.3s;
}

@media screen and (max-width:850px){

    #body2 #divider{
        font-size: 20px;
    }
}

@media screen and (max-width:900px){
    .showResults{
        margin: 0 90px;
        margin-top: 50px;
    }

    .words-list{
        width: 60vw;
    }

    #body #search-bar{
        width: 60vw;
    }
}

@keyframes slideInFromTop2 {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0);
    }
}