:root{
    --light-blue: #CBD4FF;
    --clay-blue: #8C9BE5;
    --dark-blue: #13131C;
    --lesser-dark-blue: #212129;
    --bright-orange: #ff8484;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: roboto mono;
    color: white;
    background-color: var(--dark-blue);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#error-container{
    display: flex;
    justify-content: center;
}

#error{
    color: rgb(255, 0, 0);
    background-color: rgb(245, 222, 179);
    padding: 20px 25px;
    width: 300px;
    font-weight: 800;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    top: 0px;
    z-index: 10;
    animation: 0.25s ease-out slideInFromTop;
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }