
:root{
    --light-blue: #CBD4FF;
    --clay-blue: #8C9BE5;
    --dark-blue: #13131C;
    --lesser-dark-blue: #353558;
    --bright-orange: #ff8484;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: roboto mono;
    color: white;
    background-color: var(--dark-blue);
}

header{
    padding: 40px 30px;
    /* background-color: red; */
    display: flex;
}

header #nav-pages{
    position: absolute;
    right: 6%;
    display: flex;
    justify-content: space-between;
    width: 400px;
}


header #nav-pages a{
    text-decoration: none;
    color: var(--clay-blue);
    direction: reverse;
    transition: 0.3s;
}

#profile{
    width: 25px;
    height: auto;
}

header #nav-pages a:hover{
    color: var(--bright-orange); 
    transition: 0.3s;
}

header img{
    width: 300px;
    height: auto;
    position: relative;
    bottom: 10px;
    margin-left: 30px;
}

#body{
    text-align: center;
    margin-top: 13vh;
}

#body h1{
    margin-bottom: 10px;
    color: var(--clay-blue);
    font-weight: 400;
}

#body #search-bar{
    width: 33vw;
    padding: 10px 20px;
    font-size: 18px;
    font-family: roboto mono;
    color: var(--light-blue);
    background-color: #ffffff13;
    border: 0;
    border-radius: 30px;
}

#search-bar:focus {
    outline: none;
}

#search-icon{
    position: relative;
    top: 1px;
    left: 10px;
    width: 20px;
    height: auto;
}

#body2 #divider{
    font-size: 2.5vh;
    margin-top: 7vh;
    text-align: center;
    color: #cbd4ff23;
}

#pages{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 20vh;
}

#pages a{
    display: table;
    margin: 0.2vh auto 0px auto;
    padding: 5px;
    font-size:20px;
    text-decoration: none;
    color: var(--light-blue);
    font-size: 20px;
    
    direction: reverse;
    transition: 0.2s;
}

#pages a:hover{
    color: var(--bright-orange);
    transition: 0.3s;
}

footer{
    margin: 30px 0;
}

footer #links-container{
    display: flex;
    justify-content: space-evenly;
}

#links-container #links{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

#links a{
    text-decoration: none;
    color: #cbd4ff2c;

    direction: reverse;
    transition: 0.2s;
}

#links a:hover{
    color: #cbd4ff79;
    transition: 0.3s;
}

footer p{
    text-align: center;
    color: #cbd4ff2c;
    margin-bottom: 30px;
}

#forum{
    margin-left: 30px;
}

@media screen and (max-width:800px){
    header #nav-pages{
        width: 90px;
        flex-direction: column-reverse;
    }
    
    header #nav-pages a{
        color: var(--light-blue);
        text-align: center;
        padding: 10px 0px;
        margin: 10px 0;
        border-radius: 30px;
        background-color: var(--lesser-dark-blue);
        font-size: 13px;
    }
    
    header img{
        margin-left: 10px;
        margin-top: 20px;
    }
    
    #profile{
        margin-bottom: -4px;
    }

    #body #search-bar{
        width: 70vw;
    }

    #body2 #divider{
        font-size: 20px;
    }
}